/*
!/orchard-examples
!/orchard
!.gitignore

*.dot
*.fst 
*.ps 
*.out 

orchard-examples/PieseWiseFunctions/UNFUSED/.vscode/ipch/2bc91200b1e22cb4/main.ipch
orchard-examples/PieseWiseFunctions/UNFUSED/.vscode/ipch/2bc91200b1e22cb4/mmap_address.bin
orchard-examples/PiecewiseFunctions/UNFUSED/.vscode
orchard-examples/PointBlocking/*       
